@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-right: 100px;
  padding-left: 100px;
  margin: 0;

  background-image: linear-gradient(
    to right top,
    #845ec2,
    #e65faa,
    #ff8080,
    #ffbb61,
    #f9f871
  );
}

@media screen and (min-width: 350px) and (max-width: 640px) {
  body {
    padding-right: 35px;
    padding-left: 35px;
  }
}
